/*color palette
dark blue: #12215b
darker blue: #050d33
almost black: #04040a

gold lettering: #E6AC00

*/

/* Font Family
font-family: 'Fira Sans', sans-serif;

*/
.page {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #04040a;
}

h1 {
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-size: 10rem;
  font-weight: 200;
  text-align: center;
}

.mainPhoto {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.carousel slide {
  max-width: 100%;
}

.aboutMe {
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  margin-top: 4rem;
  max-width: 60%;
  text-align: center;
}
