/*color palette
dark blue: #12215b
darker blue: #050d33
almost black: #04040a

gold lettering: #E6AC00

*/

/* Font Family
font-family: 
*/
:root {
  --ff-primary: "Fira Sans", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-size: 16px;
}



.mainImage {
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  max-height: 100vh;
  z-index: 2;
}

.mainTitle {
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  font-weight: 100;
  position: fixed;
  left: 24px;
  top: 5px;
  z-index: 1;
}

/* MEDIA  QUERIES */

/* TABLET */
@media screen and (min-width: 768px) {
.mainImage {
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  max-height: 100vh;
  z-index: 2;
}

.mainTitle {
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-size: 3em;
  font-weight: 100;
  position: fixed;
  left: 24px;
  top: 5px;
  z-index: 1;
}

/* Laptop & Desktop */

@media (min-width: 1024px) {
  h1 {
    color: whitesmoke;
    font-family: "Fira Sans", sans-serif;
    font-size: 10em;
    font-weight: 100;
    text-align: center;
  }
}

h1 {
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-size: 4.5em;
  font-weight: 100;
  text-align: center;
}

.aboutMe {
  color: whitesmoke;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  margin-top: 4rem;
  max-width: 60%;
  text-align: center;
}
